* {
  box-sizing: border-box;
  font-family: "SF Pro", sans-serif;
}

body {
  margin: 0;
}

@font-face {
  font-family: "SF Pro";
  src: url("/SF Pro/SF-Pro.ttf");
}

@font-face {
  font-family: "SF Pro";
  src: url("/SF Pro/SF-Pro-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/SF Pro/SF-Pro-Text-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "SF Pro";
  src: url("/SF Pro/SF-Pro-Text-Semibold.otf");
  font-weight: semibold;
}

mchi-fill-flex {
  flex: 1;
}

mchi-menu-bar-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
